<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/libs/modernizr.min.js"></script>
</head>
<body>
{include file="public/top" /}
<div class="container clearfix">
    {include file="public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">动漫管理</a><span class="crumb-step">&gt;</span><span>修改动漫</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{$cartoons.id}">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>动漫名称：</th>
                                <td>
                                    <input class="common-text required"" name="video_name" size="50" value="{$cartoons.video_name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>动漫剧集：</th>
                                <td>
                                    <input class="common-text required" name="volume_num" size="50" value="{$cartoons.volume_num}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="10%"><i class="require-red">*</i>剧集名称：</th>
                                <td>
                                    <input class="common-text required" name="volume_name" size="50" value="{$cartoons.volume_name}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>导演：</th>
                                <td><input class="common-text" name="director" size="50" value="{$cartoons.director}" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>演员：</th>
                                <td><input class="common-text" name="roles" size="50" value="{$cartoons.roles}" type="text"></td>
                             <tr>
                                <th><i class="require-red">*</i>地区：</th>
                                <td><input class="common-text" name="area" size="50" value="{$cartoons.area}" type="text"></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>上映时间：</th>
                                <td><input class="common-text" name="start_time" size="50" value="{$cartoons.start_time}" type="text"></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>动漫类型：</th>
                                <td><input class="common-text" name="kind_name" size="50" value="{$cartoons.kind_name}" type="text"></td>
                            </tr>
                             <tr>
                                <th>视频格式：</th>
                                <td><input class="common-text" name="suffix" size="50" value="{$cartoons.suffix}" type="text"></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>动漫封面：</th>
                                <td>
                                    <img src="__PUBLIC__/{$cartoons.cover_img}" width="120" height="80"" />
                                    <input class="common-text" size="50" name="cover_img" type="file">
                                    <input name="old_cover_img" value="{$cartoons.cover_img}" type="hidden">
                                </td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>链接地址：</th>
                                <td><input class="common-text" name="link" size="50" value="{$cartoons.link}" type="text"></td>
                            </tr>
                             <tr>
                                <th><i class="require-red">*</i>视频来源：</th>
                                <td><input class="common-text" name="src_type" size="50" value="{$cartoons.src_type}" type="text"></td>
                            </tr>
                     </tr>
                            <tr>
                                <th>简介：</th>
                                <td><textarea name="intro" class="common-textarea" id="intro" cols="30" style="width: 98%;" rows="10">{$cartoons.intro}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
