<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font"></i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('film/lst')}"><i class="icon-font"></i>电影管理</a></li>
                        <li><a href="{:url('teleplay/lst')}"><i class="icon-font"></i>电视剧管理</a></li>
                        <li><a href="{:url('cartoon/lst')}"><i class="icon-font"></i>动漫管理</a></li>
                        <li><a href="{:url('game/lst')}"><i class="icon-font"></i>游戏视频管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font"></i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('admin/lst')}"><i class="icon-font"></i>管理员管理</a></li>
                        <li><a href="system.html"><i class="icon-font"></i>系统设置</a></li>
                        <li><a href="system.html"><i class="icon-font"></i>清理缓存</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
